<h1>Full Article</h1>
<p> <%= @hd %> </p>
<p>Please find the complete article <a href= "<%= @a_link %>"><%= @a_link %></a> </p>
<p> <%= @rsss %> </p>

<%= link_to "Back to Headlines", newscategory_index_path%>