<div id="news"></div>

<div id="tabs">
    <ul id="sortable">
        <li><a href="#tabs-1">Latest News</a></li>
        <li><a href="#tabs-2">Popular News</a></li>
        <li><a href="#tabs-3">Business News</a></li>
        <li><a href="#tabs-4">Sports News</a></li>
    </ul>
</div>

    <div id="tabs-1">
    	<%= render 'latestnews_page' %>
    </div>

    <div id="tabs-2">
        <h1>Popular News</h1>
        <% @rssp.items.each do |r| %>
        <%=  r.try(:title) %>		
        <%headline = r.try(:title)%>
        <%link_article = r.try(:link)%>
        <%desc = r.try(:description)%>
        <%= link_to "Read full article" , {:controller => 'newscategory', :action => 'description', :hl => headline, :rss => desc, :al => link_article} %>
            <br>
            <br>
        <% end %>
    </div>
    
    <div id="tabs-3">
       <h1>Business News</h1>
        <% @rssb.items.each do |r| %>
        <%=  r.try(:title) %>		
        <%headline = r.try(:title)%>
        <%link_article = r.try(:link)%>
        <%desc = r.try(:description)%>
        <%= link_to "Read full article" , {:controller => 'newscategory', :action => 'description', :hl => headline, :rss => desc, :al => link_article} %>
        <br>
        <br>
        <% end %>
    </div>

    <div id="tabs-4">
     	<h1>Sports News</h1>
        <% @rsssp.items.each do |r| %>
        <%=  r.try(:title) %>		
        <%headline = r.try(:title)%>
        <%link_article = r.try(:link)%>
        <%desc = r.try(:description)%>
        <%= link_to "Read full article" , {:controller => 'newscategory', :action => 'description', :hl => headline, :rss => desc, :al => link_article} %>
        <br>
        <br>
        <% end %>
     </div>

</div>

