<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "NewsBoard" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App_Name" %>">
    <%= stylesheet_link_tag    "application","jquery-ui", :media => "all" %>
  <%= javascript_include_tag "application", "jquery-1.8.3.min","jquery-ui" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
   
   
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
       <div class="container">
        <h1>NewsBoard</h1>
        <p>News about the moment at the moment</p>
       
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">

           <div class="row">
            <div class="span12">
              
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
     </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>